@import '@splidejs/splide/dist/css/splide.min.css';
@import './fonts.css';
@import "tailwindcss" theme(static);

@source "../views/";
@source "../../app/";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-body: InterVariable, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Replace the these colors with your themes colors */
  --color-primary: #23563e;
  --color-secondary: #e6eeec;
  /* we use the neutral gray palette from https://tailwindcss.com/docs/colors as default */
  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.97 0 0);
  --color-gray-200: oklch(0.922 0 0);
  --color-gray-300: oklch(0.87 0 0);
  --color-gray-400: oklch(0.708 0 0);
  --color-gray-500: oklch(0.556 0 0);
  --color-gray-600: oklch(0.439 0 0);
  --color-gray-700: oklch(0.371 0 0);
  --color-gray-800: oklch(0.269 0 0);
  --color-gray-900: oklch(0.205 0 0);
  --color-gray-950: oklch(0.145 0 0);
  /* Extent the default tailwindcss container sizes*/
  --container-8xl: 1440px;
  --container-9xl: 1600px;
  /* Add extra breakpoints */
  --breakpoint-xs: 420px;
  --breakpoint-2xs: 360px;
  /* Other custom properties */
  --animate-marquee: marquee 50s linear infinite;
}

/* Better font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* AlpineJs required */
[x-cloak] {
  @apply hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Use the rich-content class on the parent div where you echo your WYSIWYG field */
.rich-content {
  @apply
  prose
  text-pretty
  sm:text-lg
  max-w-full
  prose-strong:text-black
  prose-headings:text-primary
  prose-headings:first:text-primary
  prose-p:text-gray-800
  prose-ul:text-gray-800
  prose-ol:text-gray-800
  prose-a:text-gray-800
  prose-a:underline
  prose-a:underline-offset-4
  prose-h1:lg:text-5xl
  prose-h1:text-4xl
  prose-h2:lg:text-5xl
  prose-h2:text-4xl
  prose-h3:lg:text-3xl
  prose-h3:text-2xl
  prose-h4:lg:text-2xl
  prose-h4:text-xl
  prose-headings:font-body
  prose-headings:font-bold
  prose-headings:first:mt-0
    /*prose-headings:mb-5*/
  prose-headings:tracking-tight
  prose-p:first:mt-0
  prose-p:mb-4
  prose-ol:list-decimal
  prose-ul:list-disc
  leading-normal
  [&>*:first-child]:mt-0
  [&>*:last-child]:mb-0
  ;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
textarea[type="text"],
textarea,
select {
  @apply focus:ring-0 bg-white border-gray-200 focus:border-primary rounded-md py-2;
}

input[type="checkbox"] {
  @apply h-4 w-4 rounded border-white/20 text-white/20 focus:ring-primary bg-white/10;
}

form label {
  @apply block text-base font-semibold text-gray-800 mb-1.5;
}

label.required:after {
  @apply text-red-400;
  content: " *";
}

.splide__arrow {
  @apply bg-primary opacity-100 items-center justify-center size-10 sm:size-12;
}

.splide__arrow svg {
  @apply text-white fill-white !w-3 !h-4;
}

.feature-carousel .splide__slide {
  @apply opacity-50 transition-opacity duration-300;
}

.feature-carousel .splide__slide.is-active {
  @apply opacity-100;
}

.feature-carousel .splide__arrow.splide__arrow--prev {
  @apply -mr-9 sm:-mr-10;
}

.feature-carousel .splide__arrow.splide__arrow--next {
  @apply -ml-9 sm:-ml-10;
}

.highlight-carousel .splide__slide .img-wrap {
  @apply scale-100 transition-transform duration-500;
}

.highlight-carousel .splide__slide.is-active .img-wrap {
  @apply scale-115 transition-transform duration-500;
}

.highlight-carousel .splide__slide img {
  @apply opacity-40;
}

.highlight-carousel .splide__slide.is-active img {
  @apply opacity-100;
}

.highlight-carousel .splide__arrow.splide__arrow--prev {
  @apply lg:ml-[15%] xl:ml-[20%];
}

.highlight-carousel .splide__arrow.splide__arrow--next {
  @apply lg:mr-[15%] xl:mr-[20%];
}

body.admin-bar .sticky-header { /* if you have a sticky header */
  @apply top-[32px];
}

@media (min-width: 768px) {

  .feature-carousel .splide__arrow.splide__arrow--next {
    left: 4rem;
  }

}

@media (min-width: 1200px) {

  .feature-carousel .splide__arrow.splide__arrow--next {
    left: calc(50vw - 520px);
  }

}

@media (max-width: 1024px) {

  body.admin-bar #wpadminbar {
    @apply hidden;
  }


  body.admin-bar .sticky-header { /* if you have a sticky header */
    @apply top-0;
  }

  html, html:has(.admin-bar) {
    @apply !mt-0;
  }
}

/* keyframes*/
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
