@font-face {
  font-family: 'Body';
  src: url('@fonts/body.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Body';
  src: url('@fonts/body-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heading';
  src: url('@fonts/head.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
