@tailwind base;
@tailwind components;
@tailwind utilities;


/* Better font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* AlpineJs required */
[x-cloak] {
  @apply hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body.admin-bar .sticky-header {  /* if you have a sticky header */
  @apply top-[32px];
}

@media (max-width: 782px) {

  body.admin-bar #wpadminbar {
    @apply hidden;
  }


  body.admin-bar .sticky-header { /* if you have a sticky header */
    @apply top-0;
  }

  html, html:has(.admin-bar) {
    @apply !mt-0;
  }
}
